.crypto {
    display: flex;

    .cryptoContainer {
        flex: 5;
        padding: 0 20px;
        align-self: center;

        .cryptoTitle {
            width: 100%;
            font-size: 32px;
            color: gray;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
