@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #F4F5F7;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px 0;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.left-pane {
  height: 100%;
  width: 256px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(36, 8, 137);
  overflow-x: hidden;
  padding-top: 20px;
}

.left-pane .logo a {
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 32px;
  padding: 24px 40px;
  justify-content: space-between;
}

.left-pane .logo {
  margin-bottom: 64px;
}

.left-pane .pages ul li a {
  padding: 6px 8px 6px 16px;
  margin: 8px 0;
  font-size: 16px;
  color: #818181;
  background-color: #FFF;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  width: 216px;
  display: flex;
  align-items: center;
}

.left-pane .pages ul li a svg {
  margin-right: 8px;
}

.left-pane a:hover {
  color: #f1f1f1;
}

.btn-logout {
  padding: 16px 32px;
  margin-top: 90%;
  width: 216px;
  border: 1px solid #828282;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  background: #828282;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
}

.btn-logout svg {
  margin-right: 8px;
}

.right-side {
  margin-left: 256px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 40px;
}

.crypto-table thead tr {
  height: 40px;
  font-size: 16px;
}

.crypto-table thead th {
  color: #4a4a4a;
  background: #fff;
  font-size: .8rem;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
  /* padding-top: 20px; */
  padding-left: 8px;
  border-bottom: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.crypto-table tbody tr {
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  background: #fff;
}

.crypto-table td {
  font-size: .875rem;
}

.crypto {
  padding-bottom: 40px;
}

.crypto-table td.red {
  color: red;
}

.crypto-table td.green {
  color: green;
}

.crypto-table td img {
  padding-right: 8px;
  padding-left: 0px;
  height: 24px;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
