.new {
    width: 100%; //xd do wywalenia mozliwe
    display: flex;

    .newContainer {
        // flex: 6;
        flex: 5;
        padding: 16px 20px;
        // align-self: center;

        .newTitle {
            width: 100%;
            font-size: 32px;
            color: gray;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 32px;
            // margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .left {
                // flex: 0;
                text-align: center;
            }

            .right {
                // flex: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 50%;

                // form {
                //     display: flex;
                //     flex-wrap: wrap;
                //     gap: 32px;
                //     justify-content: space-around;

                //     .formInput {
                //         // width: 40%;
                //         width: 512px;

                //         label {
                //             display: flex;
                //             align-items: center;
                //             gap: 10px;

                //             .icon {
                //                 cursor: pointer;
                //             }
                //         }

                //         input {
                //             width: 100%;
                //             padding: 5px;
                //             border: none;
                //             border-bottom: 1px solid gray;
                //             margin-bottom: 32px;
                //         }
                //     }
                // }

                // button {
                //     width: 192px;
                //     padding: 10px;
                //     border: none;
                //     background-color: teal;
                //     color: white;
                //     font-weight: bold;
                //     cursor: pointer;
                //     margin-top: 32px;
                // }

                button {
                    width: 100%;
                    padding: 10px 20px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    background: #000;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 16px;
                    margin-bottom: 16px;
                    cursor: pointer;
        
                    &:hover {
                        transform: scale(0.98);
                    }
                }
            }
        }
    }
}
