.portfolio {
  display: flex;

  .portfolioContainer {
    flex: 5;
    padding: 16px 20px;
    // align-self: center;

    .head {
      display: flex;
      align-items: center;
      justify-content: center;

      .portfolioTitle {
        width: 100%;
        font-size: 32px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    //   button {
    //     // width: 100%;
    //     padding: 10px 20px;
    //     border: 1px solid #000;
    //     border-radius: 5px;
    //     background: #000;
    //     color: #fff;
    //     font-size: 16px;
    //     font-weight: 700;
    //     margin-left: 32px;
    //     margin-bottom: 16px;
    //     cursor: pointer;

    //     &:hover {
    //         transform: scale(0.98);
    //     }
    // }

    button {
      padding: 2px 16px;
      border-radius: 5px;
      color: darkslateblue;
      font-size: 16px;
      font-weight: 600;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      margin: 8px 0;
      cursor: pointer;
    }
    }

    .stocks-table thead tr {
      height: 40px;
      font-size: 16px;
    }

    //   .stocks-table thead th {
    //     color: #4a4a4a;
    //     background: #fff;
    //     font-size: .8rem;
    //     font-weight: 700;
    //     padding-left: 5px;
    //     padding-right: 5px;
    //     text-align: left;
    //     vertical-align: middle;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     line-height: 0;
    //     /* padding-top: 20px; */
    //     padding-left: 8px;
    //     border-bottom: 1px solid #e5e7eb;
    //     border-top: 1px solid #e5e7eb;
    //   }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: .75rem;
      vertical-align: middle;
    }

    td {
      border-top: 1px solid #dee2e6;
    }

    .stocks-table tbody tr {
      height: 40px;
      max-height: 40px;
      overflow: hidden;
      background: #fff;
    }

    .stocks-table td {
      font-size: .875rem;
    }

    .stocks {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      // padding: 32px;
      // margin: 20px;
      display: flex;
      border: 1px solid lightgray;
      border-radius: 4px;
    }

    .stocks-table td.red {
      color: red;
    }

    .stocks-table td.green {
      color: green;
    }

    .stocks-table td img {
      padding-right: 8px;
      padding-left: 0px;
      height: 24px;
      vertical-align: middle;
    }

    .close {
      padding: 2px 12px;
      border-radius: 5px;
      font-weight: 600;
      color: darkred;
      border: 1px dotted rgba(139, 0, 0, 0.596);
      cursor: pointer;
    }
  }
}